*{
    box-sizing: border-box;
    
}

body{
    background: black;
}

button{
    padding: 10px;
    margin: 10px;
    background: darkblue;
    border-radius: 12px;
    color: aliceblue;
    border-color: firebrick;
}

form{
    padding: 10px;
    margin: 10;
    color: aliceblue;

}

#super-input {
    color: black;
}

h4 {
    color: aliceblue;
}

img {
    height: 250px;
    width: 400px;
}

p {
    margin-top: 20px;
    color: aliceblue;
}

.item {
    float: left;
    padding: 20px;
    margin: 20px;
}